
* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}

body, html {
  height: 100%
  font-family: Raleway-SemiBold, sans-serif;
  background-image: url(scolaire.png);
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
  
}


input {
  outline: none;
  border: none;
}


button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}



/*//////////////////////////////////////////////////////////////////*/
/*Vrai CSS*/

.formulaire {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.boite_formulaire {
  max-width: 960px;
  width: 800px;
  background: #fafafa;

  border-radius: 2px;
  padding: 66px 115px 59px 115px;
  position: relative;
  border-radius: 30px;

}



/*.ligne { /*Mettre en ligne et pas en colonne
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}*/

.titre {
  display: block;
  /*width: 100%;*/
  font-family: Raleway-Black;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 32px;

}



/*.placement_case { /* Permet de mettre les champs 2 par 2, c'est plus joli, enfaite non
  width: 100%;
  position: relative;
  background-color: transparent;
  margin-bottom: 35px;
  width: calc((100% - 30px) / 2);
}*/

#placement{
  margin-top: 20px;

}

#avatar{
  font-family: Gill Sans;
  font-size: 17px;  
  line-height: 1.5;
}


.police_formulaire {
  font-family: Gill Sans;
  font-size: 17px;
  
  line-height: 1.5;
}

.case_a_remplir {
  
  width: 60%;
  background: #f2f2f2;
  border-radius: 2px;

  font-family: Raleway-SemiBold;
  font-size: 20px;
  color: #686868;

  line-height: 1.2;
  padding: 0 28px;

  margin-top: 10px;
  margin-bottom: 6px;
  margin-left: 50px;
  
}


/*---------------------------------------------*/
input.case_a_remplir {
  height: 62px;
}


textarea.case_a_remplir {
  min-height: 162px;
  padding-top: 19px;
  padding-bottom: 13px;
}

.case_a_remplir:focus {
  background: #e6e6e6;
}




.classe_bouton {

  display: block;
  position: relative;
  top : 40px;
  left : 400px;
  z-index: 1;
  border-radius: 2px;
  overflow: hidden;
  width: 150px;

}

.classe_bouton:hover .degrade {
  left: 0;
}

.degrade {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #df2351;
  background: -webkit-linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
  background: -o-linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
  background: -moz-linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
  background: linear-gradient(right, #2f91ff, #00c513, #2f91ff, #00c513);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.taille_bouton{ /* Je le met la car sinon ca marche pas et je sais pas pourquoi*/
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 62px;


  font-family: Raleway-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;


}







