
/*Titre---------------------------------------------------------------------------*/
titre{
    margin: auto;
}
/*Arrière plans--------------------------------------------------------------------*/
body {
	background:url(scolaire.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  font-family: helvetica, arial, serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
	margin:auto;
}


/*Bouton---------------------------------------------------------------------------*/
button {
  left: auto;
  .area(150px, 40px);
  border: solid 2px #444;
  background: #444;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: white;
  box-shadow: inset 2px 2px 0 #fff, 0 8px 10px -4px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all 0.4s ease;
  &:focus {
    outline: none;
  }
  &.bounce {
    animation: bounce 2s; 
  }
  border-radius: 10px;

/*Ombres--------------------------------------------------------------------------------*/
@keyframes bounce {
  0% { 
    top: 50%; 
    box-shadow: inset 2px 2px 0 #fff, 0 8px 10px -4px rgba(0,0,0,0.4);
  }
  25% { 
    top: 47%;
    box-shadow: inset 2px 2px 0 #fff, 0 20px 10px -8px rgba(0,0,0,0.2);
  }
  50% { 
    top: 50%;
    box-shadow: inset 2px 2px 0 #fff, 0 8px 10px -4px rgba(0,0,0,0.4);
  }
  75% { 
    top: 48%;
    box-shadow: inset 2px 2px 0 #fff, 0 16px 10px -8px rgba(0,0,0,0.3);
  }
  100% { 
    top: 50%; 
    box-shadow: inset 2px 2px 0 #fff, 0 8px 10px -4px rgba(0,0,0,0.4);
  }
}
}

/* bar de navigation (choix des classes)------------------------------------------------------------*/

 
.wrap {
  display: inline-block;
  -webkit-box-shadow: 0 0 70px #fff;
  -moz-box-shadow: 0 0 70px #fff;
  box-shadow: 0 0 70px #fff;
  margin-top: 40px;
}

/*les liens*/
a {
  text-decoration: none;
  color: #fff;
  display: block;
}

/*ul listes*/
ul {
  list-style: none;
  position: relative;
  text-align: left;
}
/*puces*/
li {
  float: left;
}

/* clear'n floats */
ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

/*Aspect de la bar de nav (choix des classes)*/
nav {
  position: relative;
  background: #2B2B2B;
  background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
  border-radius: 10px;
} 

/* prime */
ul.primary li a {
  display: block;
  padding: 20px 30px;
  border-right: 1px solid #3D3D3D;
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  
  color: #000;
}

/* sous-classe (gestion) ----------------------------------------------------------------------*/
ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: auto;
  display:none;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 30px;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

/* cacher et afficher la sous-classe (gestion)*/
ul.primary li:hover ul {
  display: block;
  background: #fff;
}

/* Garder la barre de navigation blanche */
ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 

@media only screen and (max-width: 600px) {
  .decor {
    padding: 3px;
  }
  
  .wrap {
    width: 100%;
    margin-top: 0px;
  }
  
   li {
    float: none;
  }
  
  ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  
  ul.sub {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  ul.sub li a {
    background: #272727;
  	border: none;
    color: #8B8B8B;
  }
  
  ul.sub li a:hover {
    color: #ccc;
    background: none;
  }
}



/*Tables--------------------------------------------------------------------------------*/

table
{
    margin: auto;
    border-spacing: 5px;  
}



/* Le conteneur principal (première boite) ---------------------------------------------*/
#main {
	width:300px;
	margin:0 auto;
	border:1px solid rgb(230,230,230);
	font-size:0;
    
}


/*Disposition des blocks-----------------------------------------------------------------*/
.col {
	display:inline-block;
	vertical-align:top;
}


/*encapuslation --------------------------------------------------------------------------*/
.box, .box * {
	-webkit-transition:0.3s linear;
	-ms-transition:0.3s linear;
	transition:0.3s linear;
}



.box {
	background:rgb(240,240,240);
	width:300px;
	height:250px;
	font-family:Arial;
    border-spacing: 5px;
}


/* Fond des box -------------------------------------------------------------------------*/
#main .col:nth-child(2n+1) .box:nth-child(2n+1) {background:rgb(233,233,233);}
#main .col:nth-child(2n+2) .box:nth-child(2n+2) {background:rgb(233,233,233);}


/*Contenue interne avec animation (partie verte)-----------------------------------------*/
.box-content {
	background:rgb(60,253,146);
	width:100px;
	height:100px;
	margin:40px 0 0 100px;
	border-radius:100px;
	overflow:hidden;
	position:absolute;
    
}

/*Insertion du texte-----------------------------------------------------------------------*/
/
.box-text {
	width:230px;
	margin:170px 0 0 -65px;
	opacity:0;
	position:absolute;
	font-size:13px;
	color:rgb(30,30,30);
	text-align:center;
	line-height:20px;
	-webkit-transition:margin 0.3s linear, opacity 0.1s linear;
	-ms-transition:margin 0.3s linear, opacity 0.1s linear;
	transition:margin 0.3s linear, opacity 0.1s linear;
}
/*Icone pour chaque cellule de chaque table------------------------------------------------*/
.box-icon {
	background:url("eleve.jpg") no-repeat center center / contain;
	width:80px;
	height:33px;
	margin:75px 0 0 110px;
	position:absolute;
}

/*Titre des boîtes (nom des élèves sur chaque tables)--------------------------------------*/
.box-title {
	width:300px;
	margin:170px 0 0 0;
	position:absolute;
	font-size:18px;
	color:rgb(30,30,30);
	text-align:center;
	letter-spacing:2px;
}

.box.target {
	height:500px;
}

.box.target .box-content {
	width:300px;
	height:500px;
	border-radius:0;
	margin:0;
}

.box.target .box-text {
	margin:210px 0 0 35px;
	opacity:1;
	-webkit-transition:opacity 0.2s 0.4s linear;
	-ms-transition:opacity 0.2s 0.4s linear;
	transition:opacity 0.2s 0.4s linear;
}

.box.target .box-icon {
	width:109px;
	height:45px;
	margin:69px 0 0 95px;
	opacity:0.9;
}

/* testest

.ajouterPopup {
	display: none;
	position: fixed;
	top: 0;
	margin: 100px 25%;
	width: 50%;
	height: 50vh;
	background: #3f3f3f;
	border-radius: 10px;
	color: white;
	font-weight: 700;
}
    
.ajouterType {
        margin: 100px 0px;
}
   
.input {
        border: none;
        border-radius: 5px;
        padding: 12px;
        margin: 10px auto;
        color: white;
        font-weight: 700;
        background: #3f3f3f;
        box-shadow:  5px 5px 10px #363636, -5px -5px 10px #484848;    
}
    
.input:hover {
        background: #414141;
        box-shadow:  5px 5px 10px #484848, -5px -5px 10px #363636;
    
}