body {
	background:rgb(240,240,240);
	margin:0;
}

/* Le conteneur principale */
#main {
	width:100%;
	margin:0 auto;
}

/* Affichage des colonnes */
.col {
	vertical-align:top;
}

/*On applique des transitions sur les .box */
.box, .box * {
	-webkit-transition:0.3s linear;
	-ms-transition:0.3s linear;
	transition:0.3s linear;
}

/*Une .box correspond à une case */
.box {
	background:rgb(240,240,240);
	width:300px;
	height:100px;
	font-family:Arial;
    position: relative;
}

/*  Ceci permet de mettre les .box en damiers */
#main .col:nth-child(2n+1) .box:nth-child(2n+1) {background:rgb(233,233,233);}
#main .col:nth-child(2n+2) .box:nth-child(2n+2) {background:rgb(233,233,233);}


/* La partie verte contenue dans les .box (initalement ce sont les ronds) */
.box-content {
	background:rgb(242, 143, 21);
	width:45px;
	height:45px;
	border-radius:100px;
	overflow:hidden;
	position: absolute;
    top: 45px;
    left: 20%;
    transform: translate(-50%, -50%);
}

/* Le texte contenu dans les box-content (initialement il est invisible) */
.box-text {
    margin: 345px auto;
	opacity:0;
	position:relative;
	font-size:13px;
	color:rgb(30,30,30);
	text-align:center;
	line-height:20px;
	-webkit-transition:margin 0.3s linear, opacity 0.1s linear;
	-ms-transition:margin 0.3s linear, opacity 0.1s linear;
	transition:margin 0.3s linear, opacity 0.1s linear;
}

/* L'icône dans les .box-content */
.box-icon {
	background:url(eleve.png) no-repeat center center / contain;
	width:50px;
	height:50px;
	position:absolute;
    top: 45px;
    left: 20%;
    transform: translate(-50%, -50%);
}

/* Le titre des .box (ici: Nom prénom ") */
.box-title {
	width:125%;
	margin:15px 0 0 0;
	position:absolute;
	font-size:18px;
	color:rgb(30,30,30);
	text-align:center;
	letter-spacing:2px;
}

/* Lorsqu'une .box a été cliquée (js la fait passer en class="box target") */
.box.target {
	height:500px;
}

/* Le .box-content qui prend tout l'espace Lorsqu'une .box a été cliquée */
.box.target .box-content {
	width:100%;
	height:500px;
	border-radius:0;
    top: 50%;
	left: 50%;
}

/* Le texte qui apparaît Lorsqu'une .box a été cliquée */
.box.target .box-text {
	opacity:1;
	-webkit-transition:opacity 0.2s 0.4s linear;
	-ms-transition:opacity 0.2s 0.4s linear;
	transition:opacity 0.2s 0.4s linear;
}


/*L'icône qui s'agrandit et devient plus opaque Lorsqu'une .box a été cliquée */
.box.target .box-icon {
	width:60px;
	height:60px;
	opacity:0.9;
}

/*Bouton pour ajouter une catégorie avec une fenêtre popup*/
.ajouterPopup, .modifierPopup {
    display: none;
    position: fixed;
    top: 0;
    margin: 100px 25%;
    width: 50%;
    height: 50vh;
    background: #3f3f3f;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.ajouterType {
    margin: 100px 0px;
}
.modifierType {
    margin: 50px 0px;
}
.input {
    border: none;
    border-radius: 5px;
    padding: 12px;
    margin: 10px auto;
    color: white;
    font-weight: 700;
    background: #3f3f3f;
    box-shadow:  5px 5px 10px #363636, -5px -5px 10px #484848;
}
.input:hover {
    background: #414141;
    box-shadow:  5px 5px 10px #484848, -5px -5px 10px #363636;
}

.bouton_bas {
	position: fixed;
	bottom : -35px;
	left : 15px;
}

.textarea{
	width: 80%;
	height: 75px;
}