.ajouterPopup {
	display: none;
	position: fixed;
	top: 0;
	margin: 100px 25%;
	width: 50%;
	height: 50vh;
	background: #3f3f3f;
	border-radius: 10px;
	color: white;
	font-weight: 700;
}

.ajouterType {
	margin: 100px 0px;
}

.input {
	border: none;
	border-radius: 5px;
	padding: 12px;
	margin: 10px auto;
	color: white;
	font-weight: 700;
	background: #3f3f3f;
	box-shadow:  5px 5px 10px #363636, -5px -5px 10px #484848;
}

.input:hover {
	background: #414141;
	box-shadow:  5px 5px 10px #484848, -5px -5px 10px #363636;
}